body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;

}

.inner-page {
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

/*.knowing {
  background-image: url(../img/png-jpg-sedona/background-full.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #ddecf4;
}*/


.intro {
  background-color: #ffffff;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.intro h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.factor-place {
  background-color: #81b3d2;
  text-align: center;
}

.factor-place h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.factor-place p, span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.features  {
  text-align: center;
}

.features h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
  list-style: none;
}

.factor-features {
  background-color: #eeeeee;
  text-align: center;
}

.factor-sight span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.interest-block {
  background-color: #ffffff;
  text-align: center;
}

.interest-block a:hover,
.interest-block a:focus {
  background-color: #604e43;
}

.interest-block a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.interest-block h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.interest-block p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.interest a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

/*.map {
  background-image: url(../img/png-jpg-sedona/map.jpg);
  background-position: 50% 50%;
  width: 1200px;
  height: 593px;
  text-align: center;
}*/

.search {
  background-color: #ffffff;
}
.search-data {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-data input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-data input:hover {
  background-color: #ebebeb;
}

.search-data input:focus {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
}

.search-data button {
  color: rgba(0,0,0,0.3);
  background-color: #f2f2f2;
  border: none;
}

.search-data button:hover,
.search-data button:focus {
  color: #000000;
}

.search-data button:active {
  color: #81b3d2;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.main-footer {
  background-color: #ffffff;
  text-align: center;
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
}
.social-list a:active {
  color: rgba(0,0,0,0.3);
  background-color: #5496bd;
}

.footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-copyright a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: lowercase;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #669ec0;
}

.footer-copyright a:active {
  color: rgba(0,0,0,0.3);
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.filters {
  background-image: url(../img/png-jpg-sedona/filter.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #7d9dbe;
  text-align: left;
}

.filters fieldset {
  border: none;
}

.filters li {
  list-style: none;
}

.filters-header {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option,
.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link a:hover,
.navigation-link a:focus {
  color: #81b3d2;
}

.navigation-link a:active {
  color: rgba(0,0,0,0.3);
}

.current a{
  color: #766357;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting li {
  list-style: none;
}

.sorting p+p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-list a:hover,
.sorting-list a:focus,
 {
  color: #81b3d2;
}

.sorting-current {
  color: #81b3d2;
}

.sorting-arrow span {
  color: rgba(0,0,0,0.3);
}

.arrow span:hover,
.arrow span:focus {
  color: #231f20;
}

.arrow-active span {
  color: #81b3d2;
}

.arrow span:active {
  color: #81b3d2;
}


.found {
  border: 2px solid #f6f6f6;
}

.found-declaration-header a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-declaration-header a:hover,
.found-declaration-header a:focus {
  color: #81b3d2;
}

.found-declaration-header a:active {
  color: rgba(0,0,0,0.3);
}

.found-book span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.found-book a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.found-book a:hover,
.found-book a:focus {
  background-color: #604e43;
}

.found-book a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.found-item a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.found-item a:hover,
.found-item a:focus {
  background-color: #669ec0;
}

.found-item a:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.found-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.found-valuation span {
  color: #666666;
  background-color: #f2f2f2;
}

/*Сеточные стили*/

html, body {
  min-width: 1280px;
  min-height: 2762px;
}

body {
  /*Временно для сетки*/
  background-image: url(../img/sedona/preview/sedona-index-1200.jpg);
  background-size: 1280px auto;
  background-repeat: no-repeat;

}

.main-header {

  min-height: 56px;
  background-color: rgba(255,0,0,0.3);
  outline: 1px solid yellow;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 56px;
  background-color: rgba(225,78,233,0.2);
outline: 1px solid blue;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
}

.site-navigation {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.2);
}

.main-navigation-wrapper {
  display: flex;
  width: 1200px;
  min-height: 56px;
  outline: 1px solid black;
  background-color: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*outline: 1px solid lime*/;
}

.knowing {
  min-height: 508px;
  background-color: rgba(127,255,212,0.2);
  outline: 1px solid blue;
}

.intro {
  display: flex;
  flex-direction: column;
  min-height: 216px;
  background-color: rgba(255,255,0,0.3);
  outline: 1px solid red;
}

.intro_text {
  margin-top: 62px;
  min-height: 50px;
  background-color: rgba(225,78,233,0.6);
  outline: 1px solid blue;
}

.intro_text:last-child {
  min-height: 16px;
  margin-top: 33px;
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
}

.factor {
  display: flex;
  min-height: 256px;
  outline: 1px dotted black;
  background-color: rgba(255,0,255,0.2);
}

.factor-place {
  min-height: 256px;
  width: 400px;
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
}

.factor-view {
  min-height: 256px;
  width: 800px;
  background-color: rgba(255,0,0,0.3);
  outline: 1px solid yellow;
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 330px;
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;
}

.features-advice {
  height: 270px;
  width: 320px;
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
}

.factor-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 256px;
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;
}

.factor-sight {
  height: 160px;
  width: 270px;
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
}

.interest {
  display: flex;
  justify-content: center;
  min-height: 291px;
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
}

.interest-block {
  min-height: 86px;
  margin-top: auto;
  width: 569px;
  outline: 1px solid red;
  background-color: rgba(0,255,127,0.4);
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 593px;
  background-color: rgba(225,78,233,0.6);
  outline: 1px solid rgba(0,255,127,0.4);
}

.search {

  min-height: 395px;
  width: 568px;
  background-color: rgba(255,255,0,0.3);
  outline: 1px solid red;
}

.main-footer {
  margin-top: auto;
  min-height: 120px;
  width: 1200px;
  background-color: rgba(80,134,255,0.5);
  outline: 1px dotted green;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-tag {
  margin-top: 49px;
  margin-left: 132px;
  height: 25px;
  width: 136px;
  background-color: rgba(255,25,0,0.3);
}

.footer-social {
  margin-top: 36px;
  margin-left: 256px;
  height: 48px;
  width: 150px;
  background-color: rgba(0,255,127,0.4);
}

.footer-copyrigth {
  margin-top: 39px;
  margin-left: 229px;
  height: 41px;
  width: 197px;
  background-color: rgba(200,25,127,0.4);
}

